<!-- ↓↓↓ 大图滚动banner 代码块↓↓↓ -->
  <div class="row">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
      <div class="overlay"></div>

      <!-- 默认三张图列表 -->
      <div class="banner">
        <ul class="carousel-indicators ">
          <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#bs-carousel" data-slide-to="1"></li>
          <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ul>
      </div>

      <!-- 文案部分 -->
      <div class="carousel-inner">
        <div class="item slides active">
          <div class="slide-1"></div>
          <div class="hero row">
            <hgroup>
                <h1>「发现更好生活」</h1>
                <h3>最美好物与你分享</h3>
            </hgroup>
            <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
          </div>
        </div>
        <div class="item slides">
          <div class="slide-2"></div>
          <div class="hero">
            <hgroup>
                <h1>「生活从不将就」</h1>
                <h3>面向注重生活品质的你</h3>
            </hgroup>
            <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
          </div>
        </div>
        <div class="item slides">
          <div class="slide-3"></div>
          <div class="hero">
            <hgroup>
                <h1>「让生活更有趣」</h1>
                <h3>分享高品质新奇酷产品和使用体验</h3>
            </hgroup>
            <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
          </div>
        </div>

      </div>
    </div>
  </div>
<!-- ↑↑↑ 大图滚动banner 代码块 ↑↑↑ -->


<!-- 中间区域介绍内容 -->
  <div class="row">
    <div class="landing-page-mid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="tagline text-center">「季风」 让生活更有趣</h1>
              <p class="col-md-6 col-md-offset-3 text-center tagp">
                「季风」致力于发现和分享具有创造性的产品<br>
                在这里你能找到最新的科技和最酷的设计<br>
                提前感受世界的未来<br>
                就像李荣浩的那首「不将就」 <br>
                改变生活也从「不将就」开始<br>
               「季风」为了你的有趣生活</p>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- 教程按钮区域 -->
<div class="container">

  <div class="row">
    <div class="container topspan">
      <div class="row">
        <div class="col-xs-6">
          <h3 class="titspan">四季如风</h3>
        </div>
        <div class="col-xs-6">
          <%= link_to("more >", "#", class: "pull-right morespan") %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-xs-12 col-md-3 text-center product-list-style">
        <%= link_to image_tag("https://ww4.sinaimg.cn/large/006tKfTcgy1fg2qdtgktoj30b405m3yd.jpg", class: "pproduct-list-style-img img-responsive center-block"), "#" %>
      </div>
      <div class="col-xs-12 col-md-3 text-center product-list-style">
        <%= link_to image_tag("https://ww3.sinaimg.cn/large/006tKfTcgy1fg2qeacsbwj30b405mmx5.jpg", class: "pproduct-list-style-img img-responsive center-block"), "#" %>
      </div>
      <div class="col-xs-12 col-md-3 text-center product-list-style">
        <%= link_to image_tag("https://ww2.sinaimg.cn/large/006tKfTcgy1fg2qeilaljj30b405mjrh.jpg", class: "pproduct-list-style-img img-responsive center-block"), "#" %>
      </div>
      <div class="col-xs-12 col-md-3 text-center product-list-style">
        <%= link_to image_tag("https://ww2.sinaimg.cn/large/006tKfTcgy1fg2qeilaljj30b405mjrh.jpg", class: "pproduct-list-style-img img-responsive center-block"), "#" %>
      </div>
  </div>

</div>


<!-- 首页精选商品列表 -->
  <div class="container all-product-box">
    <div class="row">

      <div class="container topspan">
        <div class="row">
          <div class="col-xs-6">
            <h3 class="titspan">精选产品</h3>
          </div>
          <div class="col-xs-6">
            <%= link_to("more >", products_path, class: "pull-right morespan") %>
          </div>
        </div>
      </div>

      <%= render 'common/products' %>

    </div>
  </div>


<!-- 用户评价版面   -->
  <div class="row landing-page-eva">
    <div class="container">
      <div class="col-md-12">
        <h3 class="tagline">团队介绍</h1>
          <div class="col-xs-12 col-sm-6 col-md-6 landing-page-eva-style">
            <div class="col-xs-3">
              <%= image_tag("huying.jpg", class: "img-circle img-responsive img-center frontpage-img") %>
            </div>
            <div class="col-xs-9">
              <h5><a href="http://lll96-blog.logdown.com/" target="_blank">LLL96（胡颖）</a></h5>
              <p> 编程路上新手。<br>
                  喜欢咖啡和泡各种茶、健身爱好者。 <br>
                  喜欢好玩的新鲜事。<br>
                  欣赏江湖义气、话痨爱交朋友。<br></p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 landing-page-eva-style">
            <div class="col-xs-3">
              <%= image_tag("kerzzi.jpg", class: "img-circle img-responsive img-center frontpage-img") %>
            </div>
            <div class="col-xs-9">
              <h5><a href="http://kerzzi.logdown.com/" target="_blank">柯子(刘铮)</a></h5>
              <p> 爱好编程的辐射防护工程师。 <br>
                  喜欢读书、思考。爱游戏、爱生活。<br>
                  专注个人成长、努力活在未来。<br>
                  欢迎和我一起探索这个世界！<br></p>
            </div>
          </div>
      </div>
    </div>
  </div>


<!-- 彩蛋公告栏 -->
  <div class="row landing-page-advup">
    <div class="landing-page-adv">
      <div class="container">
        <div class="row">
          <h4>发现最美好物，生活从不将就！</h4>
          <h5>「季风」为了你的有趣生活！</h5>
          <a class="btn btn-primary-welcome " href="signup" role="button">随风而动</a>
        </div>
      </div>
    </div>
  </div>
