<h2> Edit Product </h2>

<%= simple_form_for [:admin, @product] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :quantity %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <% if @product.image.present? %>
    <span>目前商品图</span> <br>
    <!-- <%= image_tag qiniu_image_path(@product.image.thumb.url,:thumbnail => '300x300>', :quality => 80) %> -->
    <img thumbnail="300x300>" quality="80" src=<%= qiniu_image_path(@product.image.thumb.url) %>>
  <% end %>

  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>

<!-- 目前已实现将edit和new页面合二为一，此页面已废弃。 -->
