<!DOCTYPE html>
<html>
    <head>
        <title>Monsoon | 发现最美好物，生活从不将就！ </title>
        <!-- 兼容移动端配置的 bootstrap meta标签 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <!-- 前端优化，提升加载速度：这个是为了方便在不同页面引入独立的CSS文件 -->
        <%= yield :stylesheets %>

    </head>


    <body>
        <div id="id_wrapper">
          <div id="id_header">
            <%= render "common/navbar" %>
          </div> <!-- /id_header -->
          <div class="row" id="id_content">

              <%= yield %>
          </div><!-- /id_content -->

        </div> <!-- /id_wrapper -->
        <div id="id_footer">
          <%= render "common/footer" %>
        </div> <!-- /id_footer -->

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %><!-- 这是为了引入整个网站的JS文件 -->
        <%= yield :javascripts %><!--  前端优化，提升加载速度：这是为了在不同页面引入独立的JS文件 -->
      </div> <!-- /id_wrapper -->

    </body>
</html>
