<!DOCTYPE html>
<html>
    <head>
        <title>JDStore </title>
        <!-- 兼容移动端配置的 bootstrap meta标签 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <!-- 前端优化，提升加载速度：这个是为了方便在不同页面引入独立的CSS文件 -->
        <%= yield :stylesheets %>

    </head>


    <body>
        <%= render "common/navbar" %>
        <div class="row">
            <%= render "common/flashes" %>

            <%= yield %>
        </div>


        <%= render "common/footer" %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %><!-- 这是为了引入整个网站的JS文件 -->
        <%= yield :javascripts %><!--  前端优化，提升加载速度：这是为了在不同页面引入独立的JS文件 -->


    </body>
</html>
